// Fadein (aparecer)
@mixin fadeIn($time) {
  animation: fadein $time forwards;
  @keyframes fadein {
    from {
      opacity : 0;
    }
    to {
      opacity : 1;
    }
  }
}

// Fadeout (desaparecer)
@mixin fadeOut($time) {
  animation: fadeout $time forwards;
  @keyframes fadeout {
    from {
      opacity : 1;
    }
    to {
      opacity : 0;
    }
  }
}
