// zoom in
@mixin zoomIn($time) {
  animation: zoomIn $time;
  @keyframes zoomIn {
    from {
      transform: scale3d(0,0,0);
    }
  }
}

// zoom out
@mixin zoomOut($time) {
  animation: zoomOut $time;
  @keyframes zoomOut {
    to {
      transform: scale3d(0,0,0);
    }
  }
}
